.heading{
  font-family: calibri;
  font-weight: bolder;
  font-size: 2em;
  color: #d70011;
  text-align: center;
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}
.projects{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.proj1,.proj2,.proj3{
  margin: 5px;
  padding: 0px;
  border: #d70011 solid 0px;
  border-radius: 30px;
  transition: 0.5s;
  z-index: 0;
}
.proj1 img,.proj2 img,.proj3 img{
  width: 100%;
  height: 280px;
  border-radius: 30px;
  
}

.proj1 p,.proj2 p,.proj3 p{
  margin: 5px 5px 5px 10px;
  text-align: left;
  padding: 4px;
}
.proj1 h3,.proj2 h3,.proj3 h3{
  margin: 20px 0px 20px 20px;
  padding-left: 9px;
}
.proj1:hover,.proj2:hover,.proj3:hover{
  transform: translate(2px, -2px);
  z-index: 0;
}