*{
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
a{
  text-decoration: none;
}
.index_heading{
  color: #c70011;
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
  text-shadow: -0.1px 0 14px black, 0 0.1px 14px black, 0.1px 0 14px black, 0 -0.1px 14px black;
}
.welcome_container{
  padding: 20px 30px 20px 30px;
  margin-top: 70px;
  display: grid;
  grid-template-rows: 50px;
  grid-template-columns: 100%;
  align-items: center;
  height: 200px;
  text-align: center;
}
.welcome_message h2{
  font-size: 50px;
}
.services{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  font-size: 20px;
}
.services h1{
  text-align: center;
  padding: 10px 10px 10px 10px;
}
.services p{
  text-align: center;
  padding: 10px 10px 10px 10px;
}
.gal_units{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.gal_img{
  width: 435px;
}
.gal_img img{
  margin: 5px 5px 5px 5px;
  padding: 20px 20px 20px 20px;
  width: 400px;
  height: 280px;
}
.gal_img p{
  margin: 10px 0 10px 10px;
}
.gal_img h3{
  margin: 10px 0 10px 20px;
}


