 
<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <meta charset="UTF-8">
    <title>Counter Real Estate</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
</head>
<body>
  <div class="navbar">
    <div class="logoleft">
      <div class="logodiv">
          <a href="/"><img class="logo" src="{% static 'img/logo/logo.jpg' %}" alt=""></a>
      </div>
    </div>
    <div>
       <h1 class="index_heading">COUNTER REAL ESTATE</h1>
    </div>
    <div class="linkRight">
      <div class="">
         <a href="/aboutus"><button class="homebtn" >About Us</button></a>
      </div>
      <div class="">
         <button class=""></button>
       </div>
    </div>
  </div>
  <div class="form_container">
    <h4 class="form_heading">Search for properties all over Kenya</h4>
    <a href="search"><button class="gotosearch">Go</button></a>

  </div>
  <div class="services">
    <h1>Our Services</h1>
      <p>Counter Real Estate Provides investment-grade developments all over the City.
        The developments we offer have been conceptualized by our development team to be high quality 
        assets using a data-driven approach in planning and design, that gears property for high rental
        returns and an escalated rate of capital growth.</p>
  </div>
  <div class="gallary">
    <div class="gal_units" >
      <div class="gal_img">
        <img src="{% static 'img/index/images.jpg' %}" alt="L">
        <h3>FOR SALE</h3>
        <p>KAHAWA SUKARI</p>
        <p>KSH,50M</p>
      </div>
      <div class="gal_img">
        <img src="{% static 'img/index/images-1.jpg' %}" alt="L">
        <h3>FOR SALE</h3>
        <p>RUNDA</p>
        <p>KSH,150M</p>
      </div>
      <div class="gal_img">
        <img src="{% static 'img/index/images-2.jpg' %}" alt="L" >
            <h3>FOR SALE</h3>
            <p>Muthaiga</p>
            <p>KSH 50M</p>
      </div>
      <div class="gal_img">
        <img src="{% static 'img/index/images-3.jpg' %}" alt="L" >
            <h3>FOR SALE</h3>
            <p>KAHAWA WEST</p>
            <p>KSH 20M</p>
      </div>
      <div class="gal_img">
        <img src="{% static 'img/index/images-4.jpg' %}" alt="L" >
            <h3>FOR RENT</h3>
            <p> WESTLANDS</p>
            <p>KSH 100K</p>

      </div>
      <div class="gal_img">
        <img src="{% static 'img/index/images-5.jpg' %}" alt="L">
            <h3>FOR RENT</h3>
            <p>LAVINGTON</p>
            <p>KSH 150K</p>
        </div>
      <div class="gal_img">
        <img src="{% static 'img/index/images-6.jpg' %}" alt="L">
            <h3>FOR SALE</h3>
            <p>KAREN</p>
            <p>40M</p>
      </div>
    </div>
  </div>
<div class="footer" >
    <div class="footer_content">

        <div class="footer_section about">
            <h1 class="logo_text"><span> Counter Real Estate</span>Property</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <div class="contact">
                <span><i class="fas fa-phone"></i> &nbsp;123-456-789 </span>
                <span><i class="fas fa-envelope"></i> &nbsp;info@counter.com </span>
            </div>
            <br>
            <div class="socials">
                <i class="fab fa-twitter-square"></i>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-youtube"></i>
            </div>
        </div>
        <div class="footer_section contact_form">
            <h2>Contact  Us</h2>
            <br>
            <form action="index.html" method="post">
                <input type="email" name="email" class="text-input contact-input"placeholder="Your email address...">
                <textarea name="message" id="text-input contact-input" cols="30" rows="10" placeholder="Your message..."></textarea>
                <button type="submit" class="btn btn_big">
                    <i class="fas fa-envelope"></i>
                    send
                </button>
            </form>

        </div>
    </div>
    <div class="footer_bottom">
        &copy;counterrealestate.com|designed by Cheruu
    </div>
    <br>
    <div>
        <h1 class="logo_text"><span>Counter Real Estate</span></h1>
        <ul>
            <li>Urefu Heights</li>
            <li>Smart Building</li>
            <li>Saita Village</li>
        </ul>
    </div>
    <div>

    </div>
</div>
</body>
</html>