<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <script src="{% static 'js/darkmode.js' %}"></script>

    <title>Dive Deep</title>

</head>
<body>
    <div class="navbar">
        <div class="logoleft">
          <div class="logodiv">
              <a href="/"><img class="logo" src="{% static 'img/logo/logo.jpg' %}" alt=""></a>
          </div>
        </div>
        <div>
           <h1 class="index_heading">COUNTER REAL ESTATE</h1>
        </div>
        <div class="linkRight">
            <div class="">
                <button id="darkModeToggle"class="homebtn">🌙 Dark Mode</button>
               </div>
          <div class="">
             <a href="/"><button class="homebtn" >Home</button></a>
          </div>
          
        </div>
    </div>
<div class="body-container">
    <div class="search_heading">
        Search All Over Kenya
    </div>
    <div class="search_form_container">
        <form method="get" action="{% url 'search' %}" class="form">
            {{ form.as_p }}
            <button type="submit">Search</button>
        </form>
    </div>
    <div class="list_container">
        {% if listings %}
        
            {% for listing in listings %}
            <div class="list_item">
                <img src="{% static 'img/aboutus/download(1).jpg' %}" alt="">
                <h6>{{ listing.description|truncatechars:50 }}</h6>
                <h3>${{ listing.price }}</h3>
                <p> {{ listing.bedrooms }} bedrooms,</p>
                <p>{{ listing.bathrooms }} bathrooms</p>
                <h4>({{ listing.get_listing_type_display }})</h4>
            </div>
            {% endfor %}
        
        {% else %}
            <p>No results found.</p>
        {% endif %}
    </div>
</div>
    

</body>
</html>
